* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
body {
  width: 80%;
  margin: 0 auto;
}
/* banner */
.banner-img {
  margin: 20px auto;
  height: auto;
  background: linear-gradient(90deg, #070217, rgba(7, 2, 17, 0)),
    url("images/Banner Image.png");
  background-size: cover;
  background-color: red;
}
/* Happy New Year */
.banner {
  height: 600px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-title1 {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-weight: 400;
}
.banner-title2 {
  color: rgb(255, 255, 255);
  font-size: 72px;
  font-weight: 900;
}
/* Happy New Year */

/* all category styles START here */

#category-part {
  margin: 20px auto;

  text-align: center;
}

.off {
  color: rgb(255, 0, 0);
  font-size: 88px;
  font-weight: 700;
  margin-bottom: 10px;
}
.holiday {
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
}
.category {
  color: rgb(7, 2, 17);
  font-family: Inter;
  font-size: 48px;
  margin-bottom: 20px;

  font-weight: 700;
}

/* all category styles END here */

/* midnight sectiopn START here */

.midnight-banner-image {
  border-radius: 16px;
  padding: 10px;
  margin: 20px auto;
  background: linear-gradient(90deg, #070217, rgba(7, 2, 17, 0)),
    url("images/midnight-banner.png") center/cover;
}

.midnight-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.midnight-title {
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-weight: 900;
}
.midnight-desc {
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  font-weight: 400;
}
#join-now {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  margin-top: 20px;
  text-transform: uppercase;
}

/* midnight sectiopn END here */

/* join-now-part start here  */
#join-now-part {
  margin: 20px auto;
  padding: 20px;
  height: 500px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1),
    rgba(255, 0, 0, 0) 100%
  );
}
#join-now-info {
  text-align: center;
}
.join-info {
  color: red;
  font-family: Inter;
  font-weight: 600;
}

.join-btn {
  border-radius: 8px;
  border: none;
  width: 177px;
  height: 56px;
  background: rgb(245, 0, 0);
  padding: 16px 32px;
  margin-top: 20px;
  font-size: 20px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}
.join-btn:hover {
  background-color: #cc0000; /* Darker red color on hover */
}
/* join-now-part END here  */

/* commi soon start here */
.comming-soon-part {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  padding: 20px;
  margin: 20px auto;
}

.comming-best {
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
.commin-title {
  color: rgb(7, 2, 17);
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
}
.comming-desc {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
}

.comming-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  padding: 80px;
  border: 15px solid rgb(255, 0, 0);
  margin: 20px;
  position: relative;
}
.circule {
  position: absolute;
  top: 10px;
  right: 0%;
  bottom: 0%;
  left: 8px;
}

.year {
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  margin: 5px auto;
}
/* commi soon end here */

/* portfolio-soon-part */
.portfolio-soon-part {
  margin: 20px auto;
  padding: 10px;
  border-radius: 10px;
}
.image-container {
  margin-top: 20px auto;
}
.image-container img {
  border-radius: 20px;
  margin-top: 10px;
  transition: width 0.3s, height 0.3s;
}
.image-container img:hover {
  width: 310px;
  height: 310px;
  cursor: pointer;
}
.container1 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* join button SATRT here   */
.join {
  display: flex;
  align-items: center;
  max-width: 300px;
  margin: 20px auto;
}

.input {
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 50px 0 0 50px;
  font-size: 14px;
}

.btn {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
  text-transform: capitalize;
  width: 210px;
  height: 38px;
  border: none;
  background: rgb(255, 0, 0);
  cursor: pointer;
}

.btn:hover {
  background-color: #cc0000;
}

.rounded-r-full {
  border-radius: 0 50px 50px 0;
}

/* join button END here   */

/* footer-part */
.footer-part {
  margin: 20px auto 0px auto;
  background: rgb(7, 2, 17);
  width: 90%;
  color: white;
  padding: 15px 15px 50px 15px;
}
.container {
  width: 80%;
  margin: 0 auto;
}
.address {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
}
.contact {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 10px;
}
.contact:hover {
  text-decoration: underline;
  cursor: pointer;
}
hr {
  color: white;
  margin-top: 30px;
}
.link {
  text-align: center;
  margin-top: 20px;
}
.link img {
  margin-right: 5px;
  cursor: pointer;
}
